<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Listing &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="static/css/superfish.css">

	<link rel="stylesheet" href="static/css/style.css">


	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<div id="fh5co-wrapper">
		<div id="fh5co-page">
			<div id="fh5co-header">
				<header id="fh5co-header-section">
					<div class="container">
						<div class="nav-header">
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
							<h1 id="fh5co-logo"><a href="index.html">Listing</a></h1>
							<!-- START #fh5co-menu-wrap -->
							<nav id="fh5co-menu-wrap" role="navigation">
								<ul class="sf-menu" id="fh5co-primary-menu">
									<li class="active">
										<a href="index.html">Home</a>
									</li>
									<li>
										<a href="listing.html" class="fh5co-sub-ddown">Listing</a>
										<ul class="fh5co-sub-menu">
											<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template"
													target="_blank">Build</a></li>
											<li><a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap"
													target="_blank">Work</a></li>
											<li><a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap"
													target="_blank">Light</a></li>
											<li><a href="http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap"
													target="_blank">Relic</a></li>
											<li><a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap"
													target="_blank">Display</a></li>
											<li><a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap"
													target="_blank">Sprint</a></li>
										</ul>
									</li>
									<li>
										<a href="#" class="fh5co-sub-ddown">Dropdown</a>
										<ul class="fh5co-sub-menu">
											<li><a href="left-sidebar.html">Web Development</a></li>
											<li><a href="right-sidebar.html">Branding &amp; Identity</a></li>
											<li>
												<a href="#" class="fh5co-sub-ddown">Free HTML5</a>
												<ul class="fh5co-sub-menu">
													<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template"
															target="_blank">Build</a></li>
													<li><a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap"
															target="_blank">Work</a></li>
													<li><a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap"
															target="_blank">Light</a></li>
													<li><a href="http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap"
															target="_blank">Relic</a></li>
													<li><a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap"
															target="_blank">Display</a></li>
													<li><a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap"
															target="_blank">Sprint</a></li>
												</ul>
											</li>
											<li><a href="#">UI Animation</a></li>
											<li><a href="#">Copywriting</a></li>
											<li><a href="#">Photography</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</header>

			</div>


			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
					style="background-image: url(/static/images/cover_bg_1.jpg);">
					<div class="desc animate-box">
						<h2>Travel Around The World.</h2>
						<!-- <span>Lovely Crafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FREEHTML5.co</a></span> -->
						<span><a class="btn btn-primary btn-lg" href="#">Get Started</a></span>
						<form class="fh5co-contact">
							<label>
								<select name="city" id="fh5co-contact" class="form-control">
									<option value="none"></option>
									<option value="amsterdam">Amsterdam</option>
									<option value="barcelona">Barcelona</option>
									<option value="berlin">Berlin</option>
									<option value="dubai">Dubai</option>
									<option value="london">London</option>
								</select>
							</label>
							<label>
								<select name="preference" id="fh5co-contact" class="form-control">
									<option value=" none"></option>
									<option value="accommodations">Accommodations</option>
									<option value="restaurants">Restaurants</option>
									<option value="attractions">Attractions</option>
								</select>
							</label>
							<label>Accommodation Keywords
								<input id="fh5co-contact" type="text" name="accommodation" class="form-control"
									placeholder="Your Input">
							</label>
							<label>Restaurant Keywords
								<input id="fh5co-contact" type="text" name="restaurant" class="form-control"
									placeholder="Your Input">
							</label>
							<label>Attraction Keywords
								<input id="fh5co-contact" type="text" name="attraction" class="form-control"
									placeholder="Your Input">
							</label>
							<button type="submit" class="btn btn-info"> Go! </button>
						</form>
					</div>
				</div>

			</div>


			<div class="fh5co-listing">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<img src="/static/images/img-1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
									class="img-responsive">
								<form class="fh5co-listing-copy">
									<h2>Itinerary 1</h2>
									<span class="icon">
										<i class="icon-chevron-right"></i>
									</span>
									<!-- <a href='0.0.0.0:5000/app/templates/listing/itinerary.html?data=@data[0]'
										class="btn btn-info" role="button">Go</a> -->
									<!-- <input type="button"
										onclick="location.href='./app/templates/listing/itinerary.html'"
										value="Contact" /> -->
									<button onclick="window.location.href = './listing/itinerary.html';">Go</button>

								</form>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<img src="/static/images/img-2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
									class="img-responsive">
								<div class="fh5co-listing-copy">
									<h2>Itinerary 2</h2>
									<span class="icon">
										<i class="icon-chevron-right"></i>
									</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<img src="static/images/img-3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
									class="img-responsive">
								<div class="fh5co-listing-copy">
									<h2>Itinerary 3</h2>
									<span class="icon">
										<i class="icon-chevron-right"></i>
									</span>

								</div>
							</a>
						</div>
						<!-- END 3 row -->

						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<img src="/static/images/img-4.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
									class="img-responsive">
								<div class="fh5co-listing-copy">
									<h2>Itinerary 4</h2>
									<span class="icon">
										<i class="icon-chevron-right"></i>
									</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<img src="/static/images/img-5.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
									class="img-responsive">
								<div class="fh5co-listing-copy">
									<h2>Itinerary 5</h2>
									<span class="icon">
										<i class="icon-chevron-right"></i>
									</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<img src="/static/images/img-6.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
									class="img-responsive">
								<div class="fh5co-listing-copy">
									<h2>Itinerary 6</h2>
									<span class="icon">
										<i class="icon-chevron-right"></i>
									</span>
								</div>
							</a>
						</div>
						<!-- END 3 row -->


					</div>
				</div>
			</div>

			<div class="fh5co-listing">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<li>
									<a href="#">
										<span class="fh5co-date"></span>
										{% if data[0] %}
										<h3>{{data[0]['title']}}</h3>
										<p style="display: inline; white-space: nowrap;">Accommodation:<br></p>
										<p style="display: inline; white-space: nowrap;">
											{{data[0]['accommodation']}}<br>
										</p>
										<p style="display: inline;">Restaurants:<br></p>
										{% for rest in data[0]['restaurants'] %}
										<p style="display: inline; white-space: nowrap;">{{rest}}<br>
										</p>
										{% endfor %}
										<p style="display: inline;">Attractions:<br></p>
										{% for attr in data[0]['attractions'] %}
										<p style="display: inline; white-space: nowrap;">{{attr}}<br>
										</p>
										{% endfor %}
										{% endif %}
									</a>
								</li>
								<!-- <img src="/static/images/img-1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
									class="img-responsive">
								<form class="fh5co-listing-copy">
									<h2>Itinerary 1</h2>
									<span class="icon">
										<i class="icon-chevron-right"></i>
									</span>
									<a href='0.0.0.0:5000/app/templates/listing/itinerary.html?data=@data[0]'
										class="btn btn-info" role="button">Go</a>
									<input type="button"
										onclick="location.href='./app/templates/listing/itinerary.html'"
										value="Contact" />
									<button onclick="window.location.href = './listing/itinerary.html';">Go</button>

								</form> -->
							</a>
						</div>
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<li>
									<a href="#">
										<span class="fh5co-date"></span>
										{% if data[1] %}
										<h3>{{data[1]['title']}}</h3>
										<p style="display: inline; white-space: nowrap;">Accommodation:<br></p>
										<p style="display: inline; white-space: nowrap;">
											{{data[1]['accommodation']}}<br>
										</p>
										<p style="display: inline;">Restaurants:<br></p>
										{% for rest in data[1]['restaurants'] %}
										<p style="display: inline; white-space: nowrap;">{{rest}}<br>
										</p>
										{% endfor %}
										<p style="display: inline;">Attractions:<br></p>
										{% for attr in data[1]['attractions'] %}
										<p style="display: inline; white-space: nowrap;">{{attr}}<br>
										</p>
										{% endfor %}
										{% endif %}
									</a>
								</li>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<li>
									<a href="#">
										<span class="fh5co-date"></span>
										{% if data[2] %}
										<h3>{{data[2]['title']}}</h3>
										<p style="display: inline; white-space: nowrap;">Accommodation:<br></p>
										<p style="display: inline; white-space: nowrap;">
											{{data[2]['accommodation']}}<br>
										</p>
										<p style="display: inline;">Restaurants:<br></p>
										{% for rest in data[2]['restaurants'] %}
										<p style="display: inline; white-space: nowrap;">{{rest}}<br>
										</p>
										{% endfor %}
										<p style="display: inline;">Attractions:<br></p>
										{% for attr in data[2]['attractions'] %}
										<p style="display: inline; white-space: nowrap;">{{attr}}<br>
										</p>
										{% endfor %}
										{% endif %}
									</a>
								</li>
							</a>
						</div>
						<!-- END 3 row -->

						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<li>
									<a href="#">
										<span class="fh5co-date"></span>
										{% if data[3] %}
										<h3>{{data[3]['title']}}</h3>
										<p style="display: inline; white-space: nowrap;">Accommodation:<br></p>
										<p style="display: inline; white-space: nowrap;">
											{{data[3]['accommodation']}}<br>
										</p>
										<p style="display: inline;">Restaurants:<br></p>
										{% for rest in data[3]['restaurants'] %}
										<p style="display: inline; white-space: nowrap;">{{rest}}<br>
										</p>
										{% endfor %}
										<p style="display: inline;">Attractions:<br></p>
										{% for attr in data[3]['attractions'] %}
										<p style="display: inline; white-space: nowrap;">{{attr}}<br>
										</p>
										{% endfor %}
										{% endif %}
									</a>
								</li>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<li>
									<a href="#">
										<span class="fh5co-date"></span>
										{% if data[4] %}
										<h3>{{data[4]['title']}}</h3>
										<p style="display: inline; white-space: nowrap;">Accommodation:<br></p>
										<p style="display: inline; white-space: nowrap;">
											{{data[4]['accommodation']}}<br>
										</p>
										<p style="display: inline;">Restaurants:<br></p>
										{% for rest in data[4]['restaurants'] %}
										<p style="display: inline; white-space: nowrap;">{{rest}}<br>
										</p>
										{% endfor %}
										<p style="display: inline;">Attractions:<br></p>
										{% for attr in data[4]['attractions'] %}
										<p style="display: inline; white-space: nowrap;">{{attr}}<br>
										</p>
										{% endfor %}
										{% endif %}
									</a>
								</li>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 fh5co-item-wrap">
							<a class="fh5co-listing-item">
								<li>
									<a href="#">
										<span class="fh5co-date"></span>
										{% if data[5] %}
										<h3>{{data[5]['title']}}</h3>
										<p style="display: inline; white-space: nowrap;">Accommodation:<br></p>
										<p style="display: inline; white-space: nowrap;">
											{{data[5]['accommodation']}}<br>
										</p>
										<p style="display: inline;">Restaurants:<br></p>
										{% for rest in data[5]['restaurants'] %}
										<p style="display: inline; white-space: nowrap;">{{rest}}<br>
										</p>
										{% endfor %}
										<p style="display: inline;">Attractions:<br></p>
										{% for attr in data[5]['attractions'] %}
										<p style="display: inline; white-space: nowrap;">{{attr}}<br>
										</p>
										{% endfor %}
										{% endif %}
									</a>
								</li>
							</a>
						</div>
						<!-- END 3 row -->


					</div>
				</div>
			</div>


			<div class="fh5co-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6 fh5co-news">
							<h3>News</h3>
							<ul>
								{% if data %}
								{% for d in data %}
								<li>
									<a href="#">
										<span class="fh5co-date"></span>
										<h3>{{d['title']}}</h3>
										<p style="display: inline; white-space: nowrap;">Accommodation:
											{{d['accommodation']}}</p>
										<p style="display: inline; margin-left: 100px">Restaurants:</p>
										{% for rest in d['restaurants'] %}
										<p style="display: inline; margin-left: 335px; white-space: nowrap;">{{rest}}
										</p>
										{% endfor %}
										<p
											style="display: inline; margin-left: 700px; white-space: nowrap; position:relative;top:-200px">
											Attractions:</p>
										{% for attr in d['attractions'] %}
										<p
											style="display: inline; margin-left: 700px; margin-bottom: 100px; white-space: nowrap; position:relative;top:-200px">
											{{attr}}
										</p>
										{% endfor %}
										<!-- <p style="display: inline; margin-bottom: 100px; margin-left: 120px">
											Attractions:</p>
										{% for attr in d['attractions'] %}
										<p>{{attr}}</p>
										{% endfor %} -->
									</a>
								</li>
								{% endfor %}
								{% endif %}
							</ul>
						</div>
						<!-- <div class="col-md-6 fh5co-testimonial">
							<img src="/static/images/cover_bg_1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
								class="img-responsive mb20">
							<img src="/static/images/cover_bg_1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
								class="img-responsive">
						</div> -->
					</div>
				</div>
			</div>

			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter2"></i></a>
									<a href="#"><i class="icon-facebook2"></i></a>
									<a href="#"><i class="icon-instagram"></i></a>
									<a href="#"><i class="icon-dribbble2"></i></a>
									<a href="#"><i class="icon-youtube"></i></a>
								</p>
								<p>Copyright 2016 Free Html5 <a href="#">Listing</a>. All Rights Reserved. <br>Made with
									<i class="icon-heart3"></i> by <a href="http://freehtml5.co/"
										target="_blank">Freehtml5.co</a> / Demo
									Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</footer>


		</div>
		<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="static/js/hoverIntent.js"></script>
	<script src="static/js/superfish.js"></script>

	<!-- Main JS -->
	<script src="static/js/main.js"></script>

</body>

</html>