@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:;
}
}
.output-search1{
margin-top: 600 px;
padding: 20px 0;
text-align:left;
margin-left: 300px;
}
.output-search2{
margin-top: 600 px;
text-align:center;
}
.output-search3{
margin-top: 600 px;
text-align:right;
margin-right: 300px;
}

.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}

body, html{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Sniglet';
}
h1{
  font-weight: normal;
  font-size: 4em;
  font-family: 'Raleway';
  margin: 0 auto;
  margin-top: 100px;
  width: 400px;
  color: #F90;
  text-align: center;

}
body {background-color: #B0E0E6; }

/* Animation webkit */
@-webkit-keyframes myfirst
{
  0% {margin-left: -235px}
  90% {margin-left: 100%;}
  100% {margin-left: 100%;}
}

/* Animation */

@keyframes myfirst
{
  0% {margin-left: -235px}
  70% {margin-left: 100%;}
  100% {margin-left: 100%;}
}

.plane{
  background-image: url('https://webstockreview.net/images/biplane-clipart-transparent-background-15.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 19.5%;
  height: 15%;
  margin-left: -235px;
  position: absolute;
  animation: myfirst 24s;
  -webkit-animation: myfirst 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
   /* animation-fill-mode: forwards;*/
}
#plane{
  top: 230px;
  /* width: 100px;
  height: 100px; */
}
