<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>


<body  >
    <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </div>
    <div >
        <h1 class = "title">
            Turn your ideas 
            into an Itinerary
        </h1>
       <label class = "form" >
            <text class = "text">Accommodation Keywords</text>
            <input id="input" type="text" name="accommodation" placeholder="Your Input">
        </label>
        <label class = "formRestaurant">
            <text class = "text">Restaurant Keywords</text>
            <input id="input" type="text" name="restaurant" placeholder="Your Input">
        </label>
        
        <label class = "formAttraction">
            <text class = "text">Attraction Keywords</text>
            <input id="input" type="text" name="attraction"  placeholder="Your Input">
        </label> 
       
        <button type="submit" class="btn btn-info"> Go! </button>
    </div>
    
    <form class="form-inline global-search">
       
        <br><br>
       
       
        
    </form>
    <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
        <br>
        <p>{{d}}</p>
        {% endfor %}
        {% endif %}
    </form>
    <div class="plane" id="plane"></div>
</body>

</html>

<!--    <form class="form-inline output-search1">-->
<!--        <button type="submit" class="btn btn-info"> Recommendation 1 </button>-->
<!--        {% if data %}-->
<!--        <h1>{{output_message}}</h1>-->
<!--        {% for d in data %}-->
<!--        <br>-->
<!--        <p>{{d}}</p>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    </form>-->
<!--&lt;!&ndash;    recommendation 2&ndash;&gt;-->
<!--    <form class="form-inline output-search2">-->
<!--        <button type="submit" class="btn btn-info"> Recommendation 2 </button>-->
<!--        {% if data %}-->
<!--        <h1>{{output_message}}</h1>-->
<!--        {% for d in data %}-->
<!--        <br>-->
<!--        <p>{{d}}</p>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    </form>-->
<!--&lt;!&ndash;    recommendation 3&ndash;&gt;-->
<!--    <form class="form-inline output-search3">-->
<!--        <button type="submit" class="btn btn-info"> Recommendation 3 </button>-->
<!--        {% if data %}-->
<!--        <h1>{{output_message}}</h1>-->
<!--        {% for d in data %}-->
<!--        <br>-->
<!--        <p>{{d}}</p>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    </form>-->