<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>


<body>
    <!-- <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </div> -->
    <form>
        <h1 class="title">
            Itinerary Pal
        </h1>
        <h1 class="subtitle">
            Explore
        </h1>
        <h1 class="subtitle2">
            your dream city
        </h1>
        <select name="city" id="city-select">
            <option value="amsterdam">Amsterdam</option>
            <option value="barcelona">Barcelona</option>
            <option value="berlin">Berlin</option>
            <option value="dubai">Dubai</option>
            <option value="london">London</option>
        </select>
        <label class="form">
            <text class="text">Accommodation Keywords</text>
            <input id="input" type="text" class="inputText" name="accommodation" placeholder="Your Input">
        </label>
        <label class="formRestaurant">
            <text class="text">Restaurant Keywords</text>
            <input id="input" class="inputText" type="text" name="restaurant" placeholder="Your Input">
        </label>

        <label class="formAttraction">
            <text class="text">Attraction Keywords</text>
            <input id="input" type="text" class="inputText" name="attraction" placeholder="Your Input">
        </label>



        <button type="submit" class="btn btn-info"> Go! </button>
    </form>

    <form class="form-inline global-search">

        <br><br>



    </form>
    <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
        <br>
        <p>{{d}}</p>
        {% endfor %}
        {% endif %}
    </form>
    <div class="plane" id="plane"></div>
</body>

</html>

<!--    <form class="form-inline output-search1">-->
<!--        <button type="submit" class="btn btn-info"> Recommendation 1 </button>-->
<!--        {% if data %}-->
<!--        <h1>{{output_message}}</h1>-->
<!--        {% for d in data %}-->
<!--        <br>-->
<!--        <p>{{d}}</p>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    </form>-->
<!--&lt;!&ndash;    recommendation 2&ndash;&gt;-->
<!--    <form class="form-inline output-search2">-->
<!--        <button type="submit" class="btn btn-info"> Recommendation 2 </button>-->
<!--        {% if data %}-->
<!--        <h1>{{output_message}}</h1>-->
<!--        {% for d in data %}-->
<!--        <br>-->
<!--        <p>{{d}}</p>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    </form>-->
<!--&lt;!&ndash;    recommendation 3&ndash;&gt;-->
<!--    <form class="form-inline output-search3">-->
<!--        <button type="submit" class="btn btn-info"> Recommendation 3 </button>-->
<!--        {% if data %}-->
<!--        <h1>{{output_message}}</h1>-->
<!--        {% for d in data %}-->
<!--        <br>-->
<!--        <p>{{d}}</p>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    </form>-->